/* Start Global Rules */
* {
    box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans" ,sans-serif;
}
:root {
    --main-Padding:
}
.container {
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Heading Section */
.header {
    padding:20px;
}
.header .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width:70px;
}
.header .links {
    position:relative;
    cursor: pointer;
}
.header .links .icon {
    width:30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
     background-color: black;
     margin-bottom: 5px;
}

.header .links .icon span:first-child {
    height:3px;
    width:100%;
}

.header .links .icon span:nth-child(2) {
    height:3px;
    width:50%;
    transition: 0.3s;
}
.header .links:hover .icon:hover span:nth-child(2){
    width:100%;
}

.header .links .icon span:last-child {
    height:3px;
    width:100%;
}


.header .links ul {
    margin:0;
    padding:0;
    width:200px;
    list-style: none;
    background-color: #EEE;
    position: absolute;
    right:0;
    top:calc(100% + 10px);
    display: none;
}
.header .links:hover ul {
    display:block;
    z-index: 1;
}
.header .links ul::before {
    content:'';
    border:10px solid;
    border-color:transparent transparent #EEE transparent;
    position: absolute;
    right:5px;
    top:-20px;
}
.header .links ul li {
    width:100%;
    padding:20px;
}
.header .links ul li a {
    text-decoration: none;
    color:black;
    transition: 0.3s;
}
.header .links ul li:hover a {
    padding-left:25px;
}
/* END Heading Section */

/* START Start Section */
.start{
    width:100%;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    position: relative;
    height:calc(100vh - 64px);
}
.start .text {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.start .text h1 {
    font-size:50px;
    font-weight: 700;
    color:#10CAB7;
}
.start .text p {
    width:350px;
    font-size:20px;
}

/* End of Start Section */

/* Start of Features */
.features {
    padding-top:60px;
    padding-bottom: 60px;
    background-color: #F6F6F6;
}
.features .container {
    display:grid;
    grid-template-columns: repeat(auto-fill ,minmax(300px,1fr));
    text-align: center;
    gap: 20px;
}
.features .container i {
    font-size :40px;
    color:#10CAB7;
}
.features .container .text {
    line-height: 1.8;
}
@media (max-width:768px) {
    .features .container {
        justify-content: center;
    }
}
/* END of Features */
/* Start of Services */
.Services {
    padding-top:60px;
    padding-bottom: 60px;
}
.Services .container .heading { 
    text-align: center;
    position: relative;
    
}
.Services .container .heading h2 {
    font-size :100px;
    font-weight: 800;
    letter-spacing: -3px;
    color:#ebeced;
    padding:0;
    margin:0;
}
.Services .container .heading p {
    position: absolute;
    font-size:20px;
    color:#797979;
    top:calc(50% + 20px);
    left:50%;
    transform: translate(-50%,-50%);
}
.Services .container .content {
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top:100px;
}
@media (max-width:767px)
{
    .Services .container .content .col-1 .s1,.s2{
        flex-direction: column;
        text-align: center;
        
    }
    .Services .container .content .col-2 .s3,.s4 {
        flex-direction: column;
        text-align: center;
        
    }
    .Services .container .content i {
        width:100%;
    }
    

}
.Services .container .content .col-1 .s1 ,.s2 {
    display:flex;
    margin-bottom: 40px;
}
.Services .container .content .col-2 .s3 ,.s4 {
    display:flex;
    margin-bottom: 40px;
}
.Services .container .content i {
    flex-basis: 60px;
    font-size: 30px;
    color:#10CAB7;
    text-align: unset;
}
.Services .container .content .text {
   flex:1;
   line-height: 1.6;
   color:#444;
   font-weight: 300;
}
.Services .container .content .text h3 {
    margin:0px 0px 20px;
}

.Services .container .content .col-3 img {
    width:260px;
}
.Services .container .content .col-3 .img {
    position: relative;
    text-align: center;
}
@media (max-width:1199px){
    .Services .container .content .col-3 .img{
        display: none;
}
}

.Services .container .content .col-3 .img::before {
    content:'';
    height:calc(100% + 100px);
    width:100px;
    background-color: #2C4755;
    position:absolute;
    right:0;
    top:-50px;
    z-index: -1;
}
/* END of Services */
/* Start of Portfolio */
.portfolio {
    padding-top:60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;

}
.portfolio .container .heading {
    text-align:center;
    position: relative;
}
.portfolio .container .heading h2 {
    font-size :100px;
    font-weight: 800;
    letter-spacing: -3px;
    color:#ebeced;
    padding:0;
    margin:0;

} 
.portfolio .container .heading p {
    position: absolute;
    font-size:20px;
    color:#797979;
    top:calc(50% + 20px);
    left:50%;
    transform: translate(-50%,-50%);
}

.portfolio .container .projects {
    display:flex;
    justify-content: space-between;
    margin-top:100px;
    flex-wrap: wrap;
}

.portfolio .container .project1 ,.project2,.project3 {
    flex-basis:calc(94% / 3);
    background-color: white;
    transition: 0.3s;
}
@media (max-width:991px)
{
    .portfolio .container .project1 ,.project2,.project3 {
        flex-basis:calc(94% / 2);
    }
}
@media (max-width:767px) {
    .portfolio .container .projects{
        flex-direction: column;
    }
}
.portfolio .container .project1:hover ,.project2:hover,.project3:hover {
    padding:10px;
}
.portfolio .container .projects img {
    max-width: 100%;
}
.portfolio .container .projects .text {
    margin:20px;
    line-height: 1.6;
}
.portfolio .container .projects h3 {
    margin:0;
}
.portfolio .container .projects p {
    margin:0;
    margin-top:20px;
}

/* END of Portfolio */

/* Start of ABOUT */
.about {
    padding-top:60px;
    padding-bottom: 120px;
    background-color: white;
}
.about .container .heading {
    text-align:center;
    position: relative;
}
.about .container .heading h2 {
    font-size :100px;
    font-weight: 800;
    letter-spacing: -3px;
    color:#ebeced;
    padding:0;
    margin:0;

} 
.about .container .heading p {
    position: absolute;
    font-size:20px;
    color:#797979;
    top:calc(50% + 20px);
    left:50%;
    transform: translate(-50%,-50%);
}
.about .container .contents {
    display:flex;
    margin-top:100px;
    justify-content: space-between;
}
@media (max-width:767px)
{
    .about .container .contents {
        flex-direction: column;
        text-align: center;
    }
    .about .container .contents .img {
        margin:50px auto;
    }
}

.about .container .contents img {
    max-width:100%;
}

.about .container .contents .text {
    flex-basis:calc(100% - 500px);
    line-height: 1.7;
}

.about .container .contents .text p:first-child {
    font-weight: bold;
}

.about .container .contents .text hr {
    width:50%;
    display:inline-block;
    border-color:#10cab7;
}
.about .container .contents .img {
    width: 250px;
    height: 375px;
    position: relative;
    z-index: 1;
}
.about .container .contents .img::before {
    content:'';
    position: absolute;
    left:-20px;
    top:-30px;
    width:100px;
    height:calc(100% + 80px);
    background-color: #EBECED;
    z-index: -1;
}
.about .container .contents .img::before {
    content:'';
    position: absolute;
    left:-20px;
    top:-40px;
    width:100px;
    height:calc(100% + 80px);
    background-color: #EBECED;
    z-index: -1;
}
.about .container .contents .img::after {
    content:'';
    position: absolute;
    right:-120px;
    top:-40px;
    height:300px;
    width:100px;
    border-left:70px solid #10CAB7;
    border-bottom: 70px solid #10CAB7;
    z-index: -1;
}
@media (max-width:767px)
{
    .about .container .contents .img::before,
    .about .container .contents .img::after{
        display:none
    }
}
/* END of ABOUT */
/* START of Contact */
.contact {
    padding-top:60px;
    padding-bottom: 50px;
    background-color: #F6F6F6;

}
.contact .container .heading {
    text-align:center;
    position: relative;
}
.contact .container .heading h2 {
    font-size :100px;
    font-weight: 800;
    letter-spacing: -3px;
    color:#ebeced;
    padding:0;
    margin:0;

} 
.contact .container .heading p {
    position: absolute;
    font-size:20px;
    color:#797979;
    top:calc(50% + 20px);
    left:50%;
    transform: translate(-50%,-50%);
}
.contact .container .text {
    margin-top:100px;
    text-align: center;
    margin-bottom:100px;
}
.contact .container .text h3 {
    font-size:35px;
    font-weight:800;
    margin-bottom: 15px;
    letter-spacing: -2px;
    word-spacing: 2px;
    color:#2c4755;
}
.contact .container .text a {
    text-decoration: none;
    font-size:30px;
    font-weight: 800;
    color:#10cab7
}
.contact .container .text .social i {
    margin-left:10px;
    font-size:30px;
    color:black;
}

/* END of Contact */
.footer {
    background-color: #2C4755;
    padding:18px;
    color:white;
    text-align: center;
    font-size:18px;
}
.footer p span {
    color:#10cab7;
    font-weight: 700;
}